<!-- <section id="hero" style="background-color: rgb(231, 245, 231);">
    
    <div class="" >
        
            <h2>Welcome to hospital</h2>
          <div>
                  <img src="https://wallpapercave.com/dwp1x/wp2968489.jpg" alt="" width="900px" height="300px">
            </div>
                <div>
                    <h3>About the Hospital</h3>
                    <p>The world perceives us as a low-cost Indian healthcare service provider; what we are engaged in is a passionate journey to establish ourselves as the lowest-cost, high-quality healthcare service provider in the world.

                        We are convinced that 'quality' and 'lowest cost' are not mutually exclusive when it comes to healthcare delivery. In fact, we are well on our way to demonstrate that we are not running our institution as just another number-only business, but are attractively placed to create an affordable, globally-benchmarked quality-driven healthcare services model.</p>
                </div>
    </div>
</section> -->


<main class="main" id="top">
 

    <section class="py-0">
    
        <div class="bg-holder" style="background-image:url(assets/images/dot.png);background-position:left;background-size:auto;margin-top:-105px;"></div>
        <!--/.bg-holder-->
        <div class="container position-relative">
          <div class="row align-items-center">
            <div class="col-md-5 col-lg-6 order-md-1 pt-8"><img class="img-fluid" src="assets/images/hero-header.png" alt="" /></div>
            <div class="col-md-7 col-lg-6 text-center text-md-start pt-5 pt-md-9">
              <h2 class="mb-4 display-3 fw-bold">Healthcare <br class="d-block d-lg-none d-xl-block" />for you.</h2>
               <p class="mt-2 mb-2 fs-1">Meteor provides progressive, and affordable<br class="d-none d-lg-block" />healthcare, accessible on mobile and online<br class="d-none d-lg-block" />for everyone</p>
               <!-- <a class="btn btn-lg btn-primary rounded-pill hover-top" href="#" role="button">Learn more</a> -->
            </div>
          </div>
        </div>
      </section>
    
  </main>